<%= form_with url: "/users" , method: "post", class: "userForm-ct" do |userForm| %>
  <h1 class="userForm-title">Register New user</h1>
  <label class="label">First Name:</label>
  <%= userForm.text_field :firstname, placeholder: "First Name", class: "userForm-first"   %>
  <label class="label">Last Name:</label>
  <%= userForm.text_field :lastname, placeholder: "Last Name", class: "userForm-last"    %>
  <label class="label">Email:</label>
  <%= userForm.text_field :email, placeholder: "Email", class: "userForm-email"      %>
  <label class="label">Password:</label>
  <%= userForm.text_field :password, placeholder: "Password", class: "userForm-password"     %>
  <%= userForm.button :submit, class: "submit" do %>
    Register
  <% end %>
<% end %>
