<div class="container">
  <h1 class="title">My Todo List</h1>
  <%= form_with url: "/todos", method: "post" do |form| %>
    <div class="todoForm">
      <%= form.text_field :todo_text, :class => "todoForm__textInput", :placeholder => "What's next?" %>
      <%= form.date_field :due_date, :class => "todoForm__dueDateInput" %>
      <%# <input type="date" class="todoForm__dueDateInput" name="due_date"> %>
      <button type="submit" class="todoForm__submitBtn">Add</button>
    </div>
  <% end %>
  <%= render partial: "todos-section", locals: {section_label: "Overdue", todos: @todos.overdue.notcompleted, showDate: true} %>
  <%= render partial: "todos-section", locals: {section_label: "Due Today", todos: @todos.due_today, showDate: false }%>
  <%= render partial: "todos-section", locals: {section_label: "Due Later", todos: @todos.due_later, showDate: true } %>
</div>
